<a href="https://colab.research.google.com/github/Landzkii/CPEN-21A-CPE-1-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [3]:
week = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]
for x in week:
  print(x)

sunday
monday
tuesday
wednesday
thursday
friday
saturday

##The Break Statement

In [4]:
week = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]
for x in week:
  print(x)
  if x=="thursday":
    break

sunday
monday
tuesday
wednesday
thursday

In [5]:
#The break statement
for x in week:
  if x=="thursday":
    break
  print(x)

sunday
monday
tuesday
wednesday

Looping through string

In [6]:
for x in "Programming with Python":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

w
i
t
h

P
y
t
h
o
n

The range function

In [7]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

Nested loops

In [8]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print (x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While loop

In [19]:
i=10
while i>6:
  print(i)
  i-=1 #Assignment operator for subtraction

10
9
8
7

Break statement

In [20]:
i=10
while i>6:
  print(i)
  if i==8:
    break
  i-=1

10
9
8

The continue statement

In [22]:
i=10
while i>6:
  i=i-1
  if i==8:
    continue
  print(i)
  i-=1

9
7

The else statement

In [23]:
i=10
while i>6:
  i=i-1
  print(i)
else:
  print("i is no longer greater than 6")

9
8
7
6
i is no longer greater than 6

#Application 1

In [31]:
x=0
while x<=10:
  print("Value", x)
  x+=1

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [34]:
num=["0", "1", "2", "3", "4","5","6","7","8","9","10"]
for x in num:
  print("Value", x)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

##Application 2

In [32]:
i=20
while i>3:
  i=i-1
  print(i)
  if i==4:
    break

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4